/*
 * Local stylesheet:
 * Metadata-ISO19115 
 *
 */
 
.table {
    display: table;
    background-color: #F0F0F0;
    border: 1px solid #000000;
    
    width: 100%;
}

.tcaption {
    display: table-caption;
    font-style: italic;
    text-align: left;
}

.tcolgroup {
    display: table-column-group;
}

.tcol {
    display: table-column;
}

.thead {
    display: table-row;
    color: #005A9C;
    font-weight: bold;
}

.trow {
    display: table-row;
}

.tcell {
    display: table-cell;
    border: 1px solid #CCCCCC;
    padding: 0.25em;
}

.subcell {
    border: none;
    padding: 0em;
}
