/*
 * Local stylesheet:
 * Metadata-ISO19115 
 *
 */
 
.table {
    display: table;
    background-color: #F0F0F0;
    border: 1px solid #000000;
    padding: 0.5em;
    width: 100%;
}

.tcaption {
    display: table-caption;
    font-style: italic;
    text-align: left;
}

.thead {
    display: table-row;
    color: #005A9C;
    font-weight: bold;
}

.trow {
    display: table-row;
}

.tcell {
    display: table-cell;
    padding: 0.1em;
}
